*{
    margin: 0;
    padding: 0;
    }

.contenedor{
    background: #e8e8e8;
    color: #fff;
    height: 200px;
}

.color{
    background: #4f5ef5;
    padding: 20px;
    border: 1px solid rgba(255,255,255,.25)
}
